
:root {
    --money: linear-gradient(45deg, #00b5f5, #002a8f )
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100%;
}

ul {
    list-style: none;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

li {
    padding: 20px 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
    opacity: 0.5;
    transition: .4s ease-in-out;
}

form {
    position: relative;
    top: 150px;
    left: 350px;
    margin-top: 30px;
}

input {
    height: 50px;
    width: 50%;
    font-size: 12pt;
    outline: none;
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: white;
}

input::placeholder {
    color: white;
    opacity: 0.4;
}

input:nth-last-child(1) {
    padding: 15px 0px 300px 15px;
}

input[name="message"]::placeholder {
    position: relative;
    top: 0px;
    left: 0px;
}

footer {
    position: relative;
    top: 900px;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 30px;
}

#menu {
    display: block;
}

.hero-image {
    max-height: 30%;
    width: 100%;
}

.header {
    background: linear-gradient(0.25turn, black, navy, lightblue);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 50px;
}

.header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.header ul a {
    display: block;
    padding: 20px;
}

.header ul a:hover {
    background-color: #ddd;
}

.header .menu {
    max-height: 500px;
    transition: max-height .2s ease-out;
    display: block;
    width: 100%;
}

#menu-two {
    visibility: hidden;
}

#menu-two.active {
    visibility: visible;
}

#toggle-btn .foo:nth-of-type(1) {
    transform: rotate(45deg) translateY(10px);
}

#toggle-btn .foo:nth-of-type(2) {
    transform: translateX(500px);
    transition: .6s;
}

#toggle-btn .foo:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-17px) translateX(1px);
}

.header .menu-icon {
    position: relative;
    padding: 28px 20px;
}

.toggle-btn {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    border: none;
    position: relative;
    right: 55px;
    border-radius: 10px;
    outline: none;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: black;
    display: block;
    position: relative;
    top: 10px;
    margin-top: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .4s;
}

.toggle-btn span:hover:nth-child(1) {
    transform: translateY(-5px);
}

.toggle-btn span:hover:nth-child(2) {
    transform: translateX(5px);
}

.toggle-btn span:hover:nth-child(3) {
    transform: translateY(5px);
}

.about-me {
    position: relative;
    top: 500px;
    width: 100%;
    height: 300px;
}

#about-me {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: grey;
}

.column {
    float: left;
    width: 50%;
}

.divider {
    height: 4px;
    width: 70px;
    background-color: #444649;
    position: relative;
    left: 685px;
    margin-top: 25px;
}

.columns {
    margin-top: 75px;
}

.html {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.css {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.javascript {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    position: relative;
    top: 700px;
    width: 100%;
    height: 300px;
    background-color: #252934;
}

#projects {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    position: relative;
    left: -90px;
}

.blog {
    position: relative;
    top: 750px;
    width: 300px;
    animation-delay: .5s;
}

#blog {
    font-size: 32px;
    text-transform: uppercase;
    color: grey;
    position: relative;
    left: 670px;
}

.divider-two {
    height: 4px;
    width: 70px;
    background-color: #444649;
    position: relative;
    left: 10px;
    margin-top: 25px;
}

.contact {
    background: #252934;
    position: relative;
    top: 900px;
    height: 1000px;
    width: 100%;
}

#contact {
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 30px;
}

.divider-three {
    height: 4px;
    width: 70px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.contact-me {
    color: white;
    position: relative;
    top: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #4caf50;
}

.submit {
    width: 100px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 670px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #252934;
    color: green;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    border: 3px solid green;
    outline: none;
}

.submit:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #4caf50;
    color: white;
}

.submit:active {
    transform: translateY(4px);
}

.social-container {
    display: flex;
    position: relative;
    top: 1000px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 75%;
    position: relative;
    top: -70px;
    left: 670px;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    display: inline-block;
}

.fa-linkedin {
    color: white;
}
  
.fa-twitter {
    color: white;
    margin-left: 5px;
  }

.fa:hover {
    transform: scale(0);
    transition: all 2s ease-in-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons:hover i {
    -webkit-background-clip: text;
    -webkit-tezt-fill-color: transparent;
    transform: scale(2);
    transition: all 265ms ease-in;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
}



@include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;

/* Media Queries */

@media only screen and (min-width: 300px) and (max-width: 768px) {
 
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {


}

@media only screen and (min-width: 1401px) and (max-width: 2500px) {

}

@media only screen and (min-width: 2501px) and (max-width: 5000px) {

}




/* Problems */

/* 4. Add picture in about section with paragraphs explaining yourself  */
/* 5. List projects below that */
/* 6. List blogs below that */
/* 8. Add footer social media */
/* 9. How to change menu color so it's readable when I'm on a different part of the page */
/* 10. Fix horizontal scrolling issue */






